body {
  background-color: silver;
}

.box1 {
  position: relative;
  width: 1200px;
  height: 1000px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(42, 42, 42, 0.9);
  border: 3px solid white;
  border-radius: 8px;
}

.notes {
  float: left;
  width: 50px;
  background-color: rgba(255, 255, 128, 0.5);
  padding: 0 15px;
  margin-right: 8px;
  border: 2px solid lightGrey;
  border-radius: 3px;
  text-align: center;
}

li {
  float: left;
  display: block;
}

button {
  display: block;
  margin: 2px;
  padding: 31px;
  background-color: rgba(0, 0, 0, 1);
  border: 2px solid;
  border-color: yellow;
  border-radius: 7px;
}

.play {
  background-color: rgba(138, 172, 184, 1);
}
