body {
  margin: 0;
  width: 100%;
  height: 100%;
  display: block;
  box-sizing: border-box;
  background: #242525;
  border-radius: 50%;
  box-shadow:
    inset 0 0 40px #fff,
    inset 20px 0 70px #8af8ff,
    inset -20px 0 70px #ccffd6,
    inset 20px 0 700px #8af8ff,
    inset -20px 0 700px #f0f,
    0 0 40px #fff,
    -10px 0 40px #fffbbf,
    10px 0 40px #8af8ff;
}

h1 {
  font-family: 'Monoton', sans-serif;
  text-align: center;
  font-size: 100px;
  font-weight: lighter;
  background: -webkit-linear-gradient(#000, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow:
    0 15px 5px rgba(0, 0, 0, 0.1),
    10px 20px 5px rgba(0, 0, 0, 0.05),
    -10px 20px 5px rgba(0, 0, 0, 0.05);
}

.box1 {
  position: relative;
  width: 1200px;
  height: 800px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(42, 42, 42, 0.7);
  border: 8px solid white;
  border-radius: 8px;
  box-shadow:
    0 0 0 5px hsl(0, 0%, 40%),
    0 0 30px white,
    0 0 40px grey;
}

.row1 {
  padding: 7px;
}

.notes {
  float: left;
  width: 30px;
  height: 37px;
  padding: 0 3.5px;
  margin-top: 28px;
  margin-right: 14px;
  margin-left: 16px;
  border: 4px solid black;
  border-radius: 50%;
  border-style: double;
  box-shadow: 0 0 5px yellow;
  background-color: #38363e;
  opacity: 0.7;
}

li {
  float: left;
  display: block;
}

.startstop {
  margin: 25px auto;
  width: 80%;
  left: 36.5%;
  position: relative;
}

#sound1 button {
  display: block;
  cursor: pointer;
  margin: 6px;
  padding: 26px;
  background-color: rgba(0, 0, 0, 0.4);
  border: 2px solid #ede732;
  border-radius: 5px;
  box-shadow:
    1px 0 #ada825,
    0 1px #ada825,
    2px 1px #ada825,
    1px 2px #ada825,
    3px 2px #978e2f,
    2px 3px #978e2f,
    3px 3px #6a6421,
    4px 4px #6a6421,
    5px 5px 1px #000;
}

#sound1 button:focus {
  outline: none;
}

#sound1 button:hover:not(:active) {
  background-color: #a7a8a7;
  animation: neon3 0.8s ease-in-out infinite alternate;
}

#sound1 button:active {
  background-color: #a7a8a7;
  transform: translate(2px, 2px);
}

#sound1 .play {
  background-color: #edf2f2;
  opacity: 0.8;
  box-shadow:
    1px 0 0.5px #fff,
    0 1px 1.5px #fff,
    2px 1px 2.5px #ffdd1b,
    1px 2px 3.5px #ffdd1b,
    3px 2px 4.5px #ffdd1b,
    2px 3px 5.5px #ffdd1b,
    4px 3px 6.5px #ffdd1b,
    3px 4px 7.5px #ffdd1b;
}

a {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: bold;
  text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
  color: #585a5a;
  text-align: center;
  margin-top: 3px;
  line-height: 37px;
}

@-webkit-keyframes neon1 {
  from {
    text-shadow:
      0 0 20px #fff,
      0 0 60px #fff,
      0 0 80px #484848,
      0 0 100px #484848,
      0 0 120px #000,
      0 0 140px #000,
      0 0 160px #000,
      0 0 180px #000;
  }

  to {
    text-shadow:
      0 0 10px #fff,
      0 0 15px #fff,
      0 0 20px #484848,
      0 0 30px #484848,
      0 0 40px #000,
      0 0 60px #000,
      0 0 80px #000,
      0 0 100px #000;
  }
}

@-webkit-keyframes neon3 {
  from {
    box-shadow:
      1px 0 2px #fff,
      0 1px 3px #fff,
      2px 1px 5px #fff,
      1px 2px 7px #ffdd1b,
      3px 2px 9px #ffdd1b,
      2px 3px 11px #ffdd1b,
      4px 3px 13px #ffdd1b,
      3px 4px 15px #ffdd1b;
  }

  to {
    box-shadow:
      1px 0 0.5px #fff,
      0 1px 1.5px #fff,
      2px 1px 2.5px #fff,
      1px 2px 3.5px #ffdd1b,
      3px 2px 4.5px #ffdd1b,
      2px 3px 5.5px #ffdd1b,
      4px 3px 6.5px #ffdd1b,
      3px 4px 7.5px #ffdd1b;
  }
}
